extends ../../layouts/default.pug
include ../../mixins/button-status.pug
include ../../mixins/search.pug
include ../../mixins/list-product.pug
block main
  h1(class="mb-4") Quản lý sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +button-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header Danh sách
    .card-body
      table.table.table-hover.table-sm
        +list-product(productList)
  nav
    ul(class="pagination")
      //- li(class="page-item")
      //-   button(class="page-link") Trang trước
      
      
      - for (var i = 1; i <= pagination.totalPage; i++)
        li(class=("page-item " + (pagination.currentPage == i ? 'active' : "")))
          button(class="page-link" button-pagination=i ) #{i}

      //- li(class="page-item")
      //-   button(class="page-link") Kế tiếp