extends ../../layouts/default.pug
include ../../mixins/button-status.pug
include ../../mixins/search.pug
include ../../mixins/list-product.pug
include ../../mixins/pagination.pug
include ../../mixins/box-action.pug
block main
  h1(class="mb-4") Quản lý sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +button-status(filterStatus)
        .col-6
          +search(keyword)

  .card.mb-3
    .card-header Hành động
    .card-body
      +box-action(`/${prefixAdmin}/products/change-multi-status`)

  .card.mb-3
    .card-header Danh sách
    .card-body
      table.table.table-hover.table-sm
        +list-product(productList)
  +pagination(pagination)