extends ../../layouts/default.pug
include ../../mixins/listProduct.pug


block main 
    h1 sản phẩm nổi bật
    +listProduct(featuredProducts)
    
    h1 sản phẩm mới nhất
    +listProduct(newProducts)