extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .chat
        .container
            .inner-wrap
                .inner-right
                    div(class='inner-head' head-box-chat )
                        img.inner-avatar(src='https://res-console.cloudinary.com/dcvzd9fys/thumbnails/v1/image/upload/v1725815808/YWpla2JqZXpybGF3anFqd3lnajY=/asset_picker_grid')
                        .inner-title
                            .inner-name #{user.fullName}
                            .inner-active ho&#x1EA1;t &dstrok;&#x1ED9;ng 1 gi&#x1EDD; tr&#x1B0;&#x1EDB;c
                    div(class='inner-body' body-box )
                        div(class='inner-chat' box-chat my-id=user.id current-page=1 total-page = paginationMessage.totalPage)
                            each mess in listMess
                                if(mess.userId == user.id)
                                    .inner-going #{mess.content}
                                else
                                    .inner-coming #{mess.content}
                                
                    form(action='' form-sent-message class='inner-form' )
                        input(type='text' placeholder='Aa' name='content')
                        button
                            i.fa-solid.fa-paper-plane